Elaborado por Fabian NiÃ±o

In [2]:
#Instalamos las librerias necesarias

In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.40-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.3-cp39-cp39-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.3
    Uninstalling greenlet-1.1.3:
      Successfully uninstalled greenlet-1.1.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:

ERROR: Could not install packages due to an OSError: [WinError 5] Acceso denegado: 'c:\\users\\fankrit\\anaconda3\\lib\\site-packages\\clidriver\\bin\\amd64.VC12.CRT\\msvcr120.dll'
Consider using the `--user` option or check the permissions.

Found existing installation: SQLAlchemy 1.4.40
Uninstalling SQLAlchemy-1.4.40:
  Successfully uninstalled SQLAlchemy-1.4.40
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Requirement already satisfied: ipython-sql in c:\users\fankrit\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: sqlparse in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: jedi>=0.16 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: colorama in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: matplotlib-inline in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\fankrit\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\fankrit\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [2]:
!pip3 install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\fankrit\anaconda3\lib\site-packages (2.2.9)

In [16]:
import os
import mysql.connector

In [26]:
cnx = mysql.connector.connect(host = "sql466.main-hosting.eu",
                              user = "u917001059_prueba",
                              passwd = "Prueba123456",
                              database = "u917001059_pruebas" 
                                     )

In [18]:
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x000001C8842C47C0>

In [38]:
import pandas as pd
pd.read_sql_query('Select * FROM PRUEBA6', cnx)

DatabaseError: Execution failed on sql 'CREATE TABLE PRUEBA6 ( PersonID int,LastName int': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1

In [8]:
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x000001C881BF6070>

In [11]:
#Cerrar conexion
cnx.close()

In [27]:
cursor = cnx.cursor()

In [28]:
cursor.execute("SHOW DATABASES")

In [29]:
for db in cursor:
    print(db)

('information_schema',)
('u917001059_pruebas',)

In [39]:
cursor.execute('CREATE TABLE PRUEBA ( PersonID int,LastName varchar(255))')
pd.read_sql_query('Select * FROM PRUEBA', cnx)

Empty DataFrame
Columns: [PersonID, LastName]
Index: []