Elaborado por Fabian NiÃ±o

In [2]:
#Instalamos las librerias necesarias

In [17]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.40-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.3-cp39-cp39-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.3
    Uninstalling greenlet-1.1.3:
      Successfully uninstalled greenlet-1.1.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24

ERROR: Could not install packages due to an OSError: [WinError 5] Acceso denegado: 'C:\\Users\\Fankrit\\anaconda3\\Lib\\site-packages\\~qlalchemy\\cprocessors.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Found existing installation: SQLAlchemy 1.4.40
Uninstalling SQLAlchemy-1.4.40:
  Successfully uninstalled SQLAlchemy-1.4.40
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Requirement already satisfied: ipython-sql in c:\users\fankrit\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: prettytable<1 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pygments in c:\users\fankrit\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\fankrit\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\fankrit\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [18]:
!pip3 install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\fankrit\anaconda3\lib\site-packages (2.2.9)

In [19]:
import os
import mysql.connector

In [20]:
cnx = mysql.connector.connect(host = "sql466.main-hosting.eu",
                              user = "u917001059_prueba",
                              passwd = "Prueba123456",
                              database = "u917001059_pruebas" 
                                     )

In [21]:
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x0000022D84BC3A90>

In [23]:
import pandas as pd
df = pd.read_sql_query('Select * FROM EMPLOYEES', cnx)
print(df)

  EMP_ID   F_NAME   L_NAME     SSN      B_DATE SEX  \
0  E1001     John   Thomas  123456  1976-09-01   M
1  E1002    Alice    James  123457  1972-01-01   F
2  E1003    Steve    Wells  123458  1980-01-01   M
3  E1004  Santosh    Kumar  123459  1985-01-01   M
4  E1005    Ahmed  Hussain  123410  1981-01-01   M
5  E1006    Nancy    Allen  123411  1978-01-01   F
6  E1007     Mary   Thomas  123412  1975-01-01   F
7  E1008  Bharath    Gupta  123413  1985-01-01   M
8  E1009   Andrea    Jones  123414  1990-01-01   F
9  E1010      Ann    Jacob  123415  1982-01-01   F

                        ADDRESS JOB_ID    SALARY MANAGER_ID DEP_ID
0         5631 Rice, OakPark,IL    100  100000.0      30001      2
1        980 Berry ln, Elgin,IL    200   80000.0      30002      5
2          291 Springs, Gary,IL    300   50000.0      30002      5
3      511 Aurora Av, Aurora,IL    400   60000.0      30004      5
4       216 Oak Tree, Geneva,IL    500   70000.0      30001      2
5        111 Green Pl, Elgin,IL    600   90000.0      30001      2
6          100 Rose Pl, Gary,IL    650   65000.0      30003      7
7   145 Berry Ln, Naperville,IL    660   65000.0      30003      7
8       120 Fall Creek, Gary,IL    234   70000.0      30003      7
9  111 Britany Springs,Elgin,IL    220   70000.0      30004      5

In [16]:
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x0000022D82348A00>

In [10]:
#Cerrar conexion
cnx.close(conn)

True